*{
  box-sizing: border-box;
}
#pokeGrid {

  flex-direction: column;
  display: flex;

}

#flex-container {

  
}

#form {
  align-items: center;
  align-content: stretch;
  background-color: blue;
}

body {
  background-color: black;
  display: flex;
  justify-content: center;
  margin: 0;

}

header {
  display: flex;
  justify-content: flex-end;
  margin-top: 9px;
}