#pokeGrid {

  flex-direction: column;
  display: flex;

}

#flex-container {

  
}

#form {
  align-items: center;
  align-content: stretch;
  background-color: blue;
}

body {
  background-image:'https://upload.wikimedia.org/wikipedia/en/thumb/3/3b/Pokemon_Trading_Card_Game_cardback.jpg/220px-Pokemon_Trading_Card_Game_cardback.jpg';
  display: flex;
  justify-content: center;
}