#pokeGrid {
  display: block;
  flex-direction: column;
  display: flex;

}

#flex-container {
  display: flex;
  
}

#inPut {
  align-items: center;
  align-content: stretch;
  background-color: blue;
}